.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
li{
  padding: 20px;
  display: inline-block;
}

.TableFoto{
  border: 5px dashed #282c34;
}

button{
  background-color: #282c34;
  font-style: oblique;
  border: 0px;
  margin: 5px;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
}
button:hover{
  background-color: #1A1C21FF;
  cursor: crosshair;
}
p{
  display: flex;
  text-align: center;
  margin: 0px;
}

body{
  background-color: dimgray;
}

h2{
  font-style: oblique;
  text-align: center;
}

input {
  margin: 10px;
}
/*.inp{*/
/*  -webkit-appearance: none;*/
/*  border-radius: 15px;*/
/*  background: green;*/
/*}*/

.inp{
  -webkit-appearance: none;
  width: 200px;
  height: 15px;
  background: #111;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
}

.inp::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: green;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid #333;
  box-shadow: -203px 0 0 200px green;
}

h3{
  color: coral;
  text-align: center;
  font-size: 17px;
}


